[include]
    path = ~/.local/gitconfig
[color]
    ui = auto
[core]
    editor = vim
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[push]
    default = simple
[init]
    defaultBranch = main
